[user]
	email = vian.hervy@gmail.com
	name = sully-vian
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[core]
    editor = nvim
    autocrlf = input
	pager = delta
[include]
    path = ~/.gitconfig.local
[url "git@github.com:"]
	insteadOf = https://github.com/
[delta]
	dark = true
	line-numbers = true
	paging = never
