[user]
	email = vian.hervy@gmail.com
	name = Vianney HERVY
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[core]
    editor = vim
