[user]
	email = vian.hervy@gmail.com
	name = sully-vian
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[core]
    editor = nvim
    autocrlf = input
[include]
    path = ~/.gitconfig.local
