" To symlink Windows' ~/.ideavimrc to this one, run the following PowerShell
" command:
" New-Item -ItemType SymbolicLink -Path "$HOME\.ideavimrc" -Target "\\wsl$\archlinux\home\vianney-hervy\dotfiles\.ideavimrc"

" --- Settings ---
set ignorecase
set smartcase
set number
set relativenumber
set scrolloff=5
set incsearch
set showmode
set clipboard+=unnamed

" --- Leader Definition ---
let mapleader = " "
map <SPACE> <nop>

" --- Mappings ---
" Save & Close
nnoremap <leader>w :action SaveDocument<CR>
nnoremap <leader>q :action CloseContent<CR>
nnoremap <Esc> :noh<CR>

" Motions
nnoremap J 10j
vnoremap J 10j
nnoremap K 10k
vnoremap K 10k

" Code Actions
nnoremap <leader>c :action ShowIntentionActions<CR>
nnoremap <leader>d :action GotoDeclaration<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>f :action ReformatCode<CR>
nnoremap <C-w>d :action ShowErrorDescription<CR>
nnoremap <leader>k :action QuickJavaDoc<CR>

" Nav & Tools
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>o :action SelectInProjectView<CR>
nnoremap <leader>p :action GotoFile<CR>
nnoremap <leader>P :action FindInPath<CR>
nnoremap <leader>l :action CheckinProject<CR>

" Config Reload
nnoremap <leader>s :source ~/.ideavimrc<CR>
