"\e[A": history-search-backward
"\e[B": history-search-forward
"\e": kill-whole-line

set completion-ignore-case on

# intelligent complete (look after the cursor)
set skip-completed-text on

set colored-completion-prefix on

set mark-symlinked-directories on
