// Rounded theme for rofi, using the pywal colorscheme

* {
    font: "FiraCode Nerd Font 12";
}

window {
    fullscreen: true;
}

mainbox {
    margin: 20%;
    border: 2px;
    border-color: @foreground;
    border-radius: 16px;
    padding: 16px;
}

entry {
    placeholder: "Search";
}

element {
    border-radius: 16px;
}

element-icon {
    margin: 0.5em;
    size: 2em;
    vertical-align: 0.5;
    border-radius: 10px;
}

element-text {
    vertical-align: 0.5;
}
